@font-face {
  font-family: 'fontello';
  src: url('/styles/fonts/fontello.ttf?46422675') format('truetype'),
       url('/styles/fonts/fontello.svg?46422675#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14343763#fontello') format('svg');
  }
}
*/
 
 [class^="st-"]:before, [class*=" st-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.st-tile:before { content: '\e800'; } /* '' */
.st-coverflow:before { content: '\e801'; } /* '' */
.st-stack:before { content: '\e802'; } /* '' */
.st-spin:before { content: '\e803'; } /* '' */
.st-brush:before { content: '\e804'; } /* '' */
.st-pencil:before { content: '\e805'; } /* '' */
.st-cancel:before { content: '\e80f'; } /* '' */
.st-plus:before { content: '\e814'; } /* '' */
.st-plus-circle:before { content: '\e816'; } /* '' */
.st-bookmarks:before { content: '\e819'; } /* '' */
.st-history:before { content: '\e81b'; } /* '' */
.st-star:before { content: '\e81e'; } /* '' */
.st-tab:before { content: '\e821'; } /* '' */
.st-folder:before { content: '\e822'; } /* '' */
.st-ok:before { content: '\e826'; } /* '' */
.st-ok-3:before { content: '\e829'; } /* '' */
.st-back:before { content: '\e82c'; } /* '' */
.st-link:before { content: '\e831'; } /* '' */
.st-trash:before { content: '\e835'; } /* '' */