.ontop {
	z-index: 100;
}

#container {
	background-size: cover;
	background-position: center center;
}

#main {
	display: flex;
	background-size: cover;
}

#set {
	position:relative;
	margin:auto;

	--thumb-image: url();
	--fav-image: url();

	--small-bg: -webkit-gradient(radial, center top, 5, center 30%, var(--R), from(#000065), to(#000010));
	--full-bg: -webkit-gradient(radial, center top, 5, center 30%, var(--Rf), from(#000065), to(#000010));
}

body.reflow #set {
	visibility: hidden;
}

body:not(.flow) #set {
	--cols: 5;
	--rows: 4;
	--gap: 10px;
	--page-width: calc( (100vw - var(--gap)) / var(--cols) - var(--gap));
	--page-height: calc(var(--page-width) * var(--aspect-ratio));

	width: calc( 100vw - 2*var(--gap) );
	height: calc( (var(--page-height) + var(--gap)) * var(--rows) - var(--gap) );
}

#customize {
	opacity: 0;
}
