.ontop {
	z-index: 100;}

#container {
	background-size: cover;
	background-position: center center;}

#main {
	display: flex;
	background-size: cover;
}

#set {
	position:relative;
	margin:auto;}

#customize {
	opacity: 0;
}
