.outline() {
	box-shadow: 0 0 4px 1px #306ad5;
}

.l-gradient(@h, @s, @l) {
	background-image: linear-gradient(
		hsl(@h, @s, @l * 2) 0%,
		hsl(@h, @s, @l * 3) 10%,
		hsl(@h, @s, @l * 4) 50%,
		hsl(@h, @s, @l * 3) calc(100vh - 10%),
		hsl(@h, @s, @l * 2) 100%
	);
}

.p-gradient(@h, @s, @l) {
	background-image: linear-gradient(
		hsl(@h, @s, @l * 3) 0%,
		hsl(@h, @s, @l * 5) 45%,
		hsl(@h, @s, @l * 2) 45%,
		hsl(@h, @s, @l * 6) 100%
	);
}

@colors: {
	@metal: {
		h: 240;
		s: 10%;
		l: 4%;
	}
	@deep-purple: {
		h: 300;
		s: 100%;
		l: 1%;
	}
	@dark-side: {
		h: 0;
		s: 0;
		l: 2%;
	}
}
@themes	:	 ~"metal", ~"deep-purple", ~"dark-side";

.lets-rock(@index) when (@index > 0) {
	.lets-rock(@index - 1);

	@theme	:	extract(@themes, @index);
	@h		:	@colors[@@theme][h];
	@s		:	@colors[@@theme][s];
	@l		:	@colors[@@theme][l];

	.@{theme} {
		#container {
			.l-gradient(@h, @s, @l);
		}
		&.flow {
			#container {
				.p-gradient(@h, @s, @l);
			}
			thumb-page:before {
				background-color: hsl(@h, @s, @l * 2);
			}
		}

		.theme[data="@{theme}"] span {
			.outline();
		}
	}

	// theme color preview rect appears dark to human eye 
	// make it slightly brighter
	#customize a.theme[data="@{theme}"] span {
		background: hsl(@h, @s, 6* ( @l + 1) );
	}

}
.lets-rock(length(@themes));

.cosmos {
	#container {
		background-image: url('/styles/img/space.jpg');
	}

	a.theme[data="cosmos"] span {
		.outline();
	}
}

.custom-bg.flow,
.cosmos.flow {
	thumb-page {
		a[is="thumb-link"] {
			-webkit-box-reflect: unset;
		}

		&:before {
			content: none;
		}
	}
}