.outline() {
	box-shadow: 0 0 4px 1px #306ad5;
}

.l-gradient(@h, @s, @l) {
	background-image: linear-gradient(
		hsl(@h, @s, @l * 2) 0%,
		hsl(@h, @s, @l * 3) 10%,
		hsl(@h, @s, @l * 4) 50%,
		hsl(@h, @s, @l * 3) calc(100vh - 10%),
		hsl(@h, @s, @l * 2) 100%
	);
}

.p-gradient(@h, @s, @l) {
	background-image: linear-gradient(
		hsl(@h, @s, @l * 3) 0%,
		hsl(@h, @s, @l * 5) 45%,
		hsl(@h, @s, @l * 2) 45%,
		hsl(@h, @s, @l * 6) 100%
	);
}

.metal {
	#container {
		.l-gradient(240, 10%, 4%);
	}
	&.flow {
		#container {
			.p-gradient(240, 10%, 4%);
		}
		.page:before {
			background-color: hsl(240, 10%, 8%);
		}
	}

	a.theme[data="metal"] span {
		.outline();
	}
}

/* \m/ */
.deep-purple {
	#container {
		.l-gradient(300, 100%, 1%);
	}
	&.flow {
		#container {
			.p-gradient(300, 100%, 1%);
		}
		.page:before {
			background-color: hsl(300, 100%, 4%);
		}
	}

	a.theme[data="deep-purple"] span {
		.outline();
	}
}

.dark-side {
	#container {
		.l-gradient(0, 0%, 2%);
	}
	&.flow {
		#container {
			.p-gradient(0, 0%, 2%);
		}
		.page:before {
			background-color: hsl(0, 0%, 4%);
		}
	}

	a.theme[data="dark-side"] span {
		.outline();
	}
}

.cosmos {
	background-image: url('/styles/img/space.jpg');
	background-size: cover;

	&.flow {
		.page .link {
			-webkit-box-reflect: unset;

			&:before {
				content: none;
			}
		}
	}

	a.theme[data="cosmos"] span {
		.outline();
	}
}

// theme color preview rect appears dark to human eye 
// make it slightly brighter
#customize a.theme[data="metal"] span {
	background: hsl(240, 10%, 24%+6);
}
#customize a.theme[data="deep-purple"] span {
	background: hsl(315, 100%, 6%+6);
}
#customize a.theme[data="dark-side"] span {
	background: hsl(0, 0%, 12%+6);
}
